<app-hero></app-hero>
<app-about></app-about>
<app-services></app-services>
<app-projects></app-projects>

<section
  class="dynamic-content"
  *ngFor="let section of extraSections"
  [attr.id]="section.sectionKey"
>
  <div class="container">
    <div class="section-header" *ngIf="section.title || section.description">
      <h2 *ngIf="section.title">{{ section.title }}</h2>
      <p *ngIf="section.description">{{ section.description }}</p>
    </div>

    <div class="block-list">
      <div class="block-card" *ngFor="let block of section.blocks">
        <ng-container [ngSwitch]="block.blockType">
          <div *ngSwitchCase="'hero'">
            <h3>{{ block.content?.title }}</h3>
            <p>{{ block.content?.subtitle }}</p>
          </div>
          <div *ngSwitchCase="'about_intro'">
            <h3>{{ block.content?.title }}</h3>
            <p>{{ block.content?.summary }}</p>
          </div>
          <div *ngSwitchCase="'about_card'">
            <h4>{{ block.content?.title }}</h4>
            <p>{{ block.content?.body }}</p>
          </div>
          <div *ngSwitchCase="'services_intro'">
            <h3>{{ block.content?.title }}</h3>
            <p>{{ block.content?.summary }}</p>
          </div>
          <div *ngSwitchCase="'services_item'">
            <div class="service-item">
              <span class="service-icon">{{ block.content?.icon }}</span>
              <div>
                <h4>{{ block.content?.title }}</h4>
                <p>{{ block.content?.description }}</p>
              </div>
              <a
                *ngIf="block.content?.url"
                [href]="block.content?.url"
                [attr.target]="block.content?.openInNewTab ? '_blank' : null"
                [attr.rel]="block.content?.openInNewTab ? 'noopener noreferrer' : null"
              >
                Ver
              </a>
            </div>
          </div>
          <div *ngSwitchCase="'tag_link'">
            <a
              class="tag-link"
              [href]="block.content?.url"
              [attr.target]="block.content?.openInNewTab ? '_blank' : null"
              [attr.rel]="block.content?.openInNewTab ? 'noopener noreferrer' : null"
            >
              {{ block.content?.label }}
            </a>
          </div>
          <div *ngSwitchDefault>
            <p>{{ block.content?.text || block.content }}</p>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</section>
