<header class="header" [class.overlay]="isOverlayHeader">
  <div class="header-container">
    <div class="logo">
      <a routerLink="/" class="logo-link" (click)="closeMenu()">
        <img src="img/LOGO.jpg" alt="ArquiNelson logo" class="logo-img" />
      </a>
    </div>
    
    <nav class="nav-desktop">
      <ul class="nav-list">
        <li *ngFor="let item of menuItems" class="nav-item" [class.has-dropdown]="item.dropdown">
          <a
            [routerLink]="item.link"
            [fragment]="item.fragment"
            (click)="closeMenu()"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: item.fragment ? true : false }"
          >
            {{ item.name }}
          </a>

          <div class="dropdown" *ngIf="item.dropdown && projects.length">
            <ul class="dropdown-list">
              <li *ngFor="let proj of projects">
                <a [routerLink]="['/project', getProjectRouteId(proj)]" (click)="closeMenu()">
                  <span class="proj-name">{{ proj.title }}</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>

    <div class="header-actions">
      <div class="header-socials" aria-label="Redes sociales">
        <a
          *ngFor="let social of socialLinks"
          [href]="social.url"
          class="header-social-link"
          [attr.aria-label]="social.label"
          [title]="social.label"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img [src]="social.image" [alt]="social.label" />
        </a>
      </div>

      <button
        type="button"
        class="theme-toggle"
        (click)="toggleTheme()"
        [attr.aria-pressed]="isDarkMode"
        [attr.aria-label]="isDarkMode ? 'Cambiar a modo claro' : 'Cambiar a modo nocturno'"
      >
                <span class="theme-icon" aria-hidden="true">
          <svg *ngIf="!isDarkMode" viewBox="0 0 24 24" focusable="false">
            <path d="M12 4a1 1 0 0 1 1 1v1a1 1 0 1 1-2 0V5a1 1 0 0 1 1-1Zm0 13a5 5 0 1 0 0-10 5 5 0 0 0 0 10Zm0 3a1 1 0 0 1 1 1v1a1 1 0 1 1-2 0v-1a1 1 0 0 1 1-1Zm8-9a1 1 0 0 1 1 1 1 1 0 0 1-1 1h-1a1 1 0 1 1 0-2h1ZM6 12a1 1 0 0 1-1 1H4a1 1 0 1 1 0-2h1a1 1 0 0 1 1 1Zm10.95 5.536a1 1 0 0 1 1.414 1.414l-.707.707a1 1 0 1 1-1.414-1.414l.707-.707ZM7.05 6.464A1 1 0 1 1 8.464 7.88l-.707.707A1 1 0 0 1 6.343 7.17l.707-.707Zm11.314.707a1 1 0 1 1-1.414 1.414l-.707-.707a1 1 0 1 1 1.414-1.414l.707.707ZM8.464 16.12a1 1 0 0 1 0 1.414l-.707.707A1 1 0 1 1 6.343 17l.707-.707a1 1 0 0 1 1.414 0Z" />
          </svg>
          <svg *ngIf="isDarkMode" viewBox="0 0 24 24" focusable="false">
            <path d="M14.768 3.96a1 1 0 0 1 .336 1.354 8 8 0 1 0 3.592 10.347 1 1 0 0 1 1.68-.266 1 1 0 0 1 .145 1.055A10 10 0 1 1 13.414 3.8a1 1 0 0 1 1.354.16Z" />
          </svg>
        </span>
      </button>

      <button class="menu-toggle" (click)="toggleMenu()">
        <span class="hamburger" [class.active]="isMenuOpen"></span>
      </button>
    </div>

    <nav class="nav-mobile" [class.active]="isMenuOpen">
      <ul class="nav-list">
        <li *ngFor="let item of menuItems">
          <a
            [routerLink]="item.link"
            [fragment]="item.fragment"
            (click)="closeMenu()"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: item.fragment ? true : false }"
          >
            {{ item.name }}
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<div class="header-spacer" [class.overlay]="isOverlayHeader"></div>




